.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 1757px;
  min-height: 109px;
  margin: -11px -308px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 30px 27px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  background-image: none;
  border-style: none;
  margin: 26px auto 0 624px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.125rem;
  border-style: none;
  margin: -26px auto 0 726px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-size: 1.125rem;
  border-style: none;
  margin: -25px 578px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  font-size: 1.125rem;
  border-style: none;
  margin: -24px 748px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -25px 1104px 0 42px;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -37px 30px 0 auto;
  padding: 14px 30px;
}

.u-section-1 .u-icon-2 {
  height: 36px;
  width: 36px;
  margin: -42px auto 0 6px;
}

.u-section-1 .u-icon-3 {
  height: 30px;
  width: 30px;
  margin: -35px 687px 0 auto;
}

.u-section-1 .u-icon-4 {
  height: 19px;
  width: 19px;
  margin: -22px 815px 0 auto;
}

.u-section-1 .u-icon-5 {
  height: 18px;
  width: 18px;
  margin: -22px auto 0 708px;
}

.u-section-1 .u-icon-6 {
  height: 18px;
  width: 18px;
  margin: -15px auto 0 605px;
}

.u-section-1 .u-image-1 {
  width: 137px;
  height: 137px;
  background-image: url("images/phoenix2.png");
  background-position: 50% 50%;
  margin: 125px auto 0 211px;
}

.u-section-1 .u-image-2 {
  width: 137px;
  height: 137px;
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
  margin: -137px auto 0 405px;
}

.u-section-1 .u-image-3 {
  width: 137px;
  height: 137px;
  background-image: url("images/Kiddions.png");
  background-position: 50% 50%;
  margin: -137px auto 0 598px;
}

.u-section-1 .u-image-4 {
  width: 137px;
  height: 137px;
  background-image: url("images/unnamed8.png");
  background-position: 50% 50%;
  margin: -137px auto 0 792px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 9px auto 0 218px;
  padding: 6px 22px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -35px auto 0 411px;
  padding: 6px 28px;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 604px;
  padding: 6px 20px 6px 18px;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 799px;
  padding: 6px 41px 6px 40px;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 9px auto 0 211px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 405px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -38px auto 0 598px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -36px auto 0 792px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 9px auto 0 232px;
  padding: 8px 14px;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 426px;
  padding: 8px 14px;
}

.u-section-1 .u-btn-17 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 813px;
  padding: 8px 14px;
}

.u-section-1 .u-btn-18 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 618px;
  padding: 8px 30px 8px 29px;
}

.u-section-1 .u-image-5 {
  width: 137px;
  height: 137px;
  background-image: url("images/unnamed9.png");
  background-position: 50% 50%;
  margin: 55px auto 0 405px;
}

.u-section-1 .u-image-6 {
  width: 137px;
  height: 137px;
  background-image: url("images/astro-web.jpg");
  background-position: 50% 50%;
  margin: -137px auto 0 598px;
}

.u-section-1 .u-btn-19 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 11px auto 0 412px;
  padding: 6px 36px 6px 34px;
}

.u-section-1 .u-btn-20 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 598px;
  padding: 6px 36px;
}

.u-section-1 .u-btn-21 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 11px auto 0 405px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-22 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 597px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-23 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 11px auto 0 426px;
  padding: 8px 30px 8px 29px;
}

.u-section-1 .u-btn-24 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 60px 616px;
  padding: 8px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -12px;
    margin-left: 180px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 282px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 93px;
    margin-left: 34px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -69px;
    margin-right: 245px;
    margin-left: 83px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -171px;
    margin-right: 722px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -1456px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 949px;
  }

  .u-section-1 .u-icon-3 {
    height: 29px;
    width: 29px;
    margin-top: 735px;
    margin-right: 684px;
  }

  .u-section-1 .u-icon-6 {
    height: 25px;
    width: 25px;
    margin-top: 286px;
    margin-left: 593px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 78px;
    margin-left: 111px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 304px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 306px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-left: 692px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 8px;
    margin-right: 699px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 505px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -38px;
    margin-left: 503px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -34px;
    margin-right: 118px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 699px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 305px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 497px;
  }

  .u-section-1 .u-btn-14 {
    margin-top: -38px;
    margin-left: 692px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: 13px;
    margin-left: 126px;
  }

  .u-section-1 .u-btn-16 {
    margin-right: 132px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 326px;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 327px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 53px;
    margin-right: 505px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-left: 497px;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 310px;
  }

  .u-section-1 .u-btn-20 {
    margin-left: 503px;
  }

  .u-section-1 .u-btn-21 {
    margin-top: 10px;
    margin-left: 305px;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 503px;
  }

  .u-section-1 .u-btn-23 {
    margin-left: 324px;
  }

  .u-section-1 .u-btn-24 {
    margin-top: -38px;
    margin-right: 324px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1067px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 62px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 25px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 612px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 631px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 641px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 642px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -194px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 304px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 583px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 479px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 285px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 20px;
    margin-right: 285px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 479px;
    margin-left: 106px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 20px;
    margin-right: 479px;
    margin-left: 106px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 284px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 478px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 106px;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 107px;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 90px;
  }

  .u-section-1 .u-btn-20 {
    margin-left: 283px;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 85px;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 283px;
  }

  .u-section-1 .u-btn-23 {
    margin-left: 104px;
  }

  .u-section-1 .u-btn-24 {
    margin-right: 104px;
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 522px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -1556px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 491px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 501px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 502px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 495px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 78px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -137px;
    margin-right: 306px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-left: 403px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 299px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 105px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -38px;
    margin-right: auto;
    margin-left: 103px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 299px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: -37px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 106px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 298px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-right: 403px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 403px;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-20 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-23 {
    margin-right: 28px;
    margin-left: 416px;
  }

  .u-section-1 .u-btn-24 {
    margin-right: 29px;
    margin-bottom: 10px;
    margin-left: 416px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 422px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -744px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 311px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 301px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 302px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 295px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 203px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 203px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 203px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 99px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 99px;
    margin-left: 102px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 102px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 102px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 102px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 203px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 203px;
  }

  .u-section-1 .u-btn-20 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-23 {
    margin-left: 216px;
  }

  .u-section-1 .u-btn-24 {
    margin-bottom: 0;
    margin-left: 216px;
  }
} Change the text color Using HTML tag
 
MODS 